.crop-recommendation-page {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: hsl(192, 88%, 6%);
    color: white;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
}

h2 {
    color: #000000;
    text-align: center;
}

.page1 {
    display: flex;
    justify-content: space-between;
    padding: 3vw 2vw;
    /* gap: 10vw; */
}

.page1 .lPart{
    width: 45vw;
}

.page1 .rPart img{
    width: 40vw;
}

.how-it-works ul{
    list-style-type: none;
}

.how-it-works li{
    /* text-decoration: none; */
    padding-left: 1vw;
}

.page2 {
    display: flex;
    justify-content: center;
}

.recommendation-form{
    border: 2px solid #039eeb;
    border-radius: 10px;
    padding: 2vw;
    width: 40vw;
    text-align: center;
    box-shadow: 0 10px 10px #2287c527;
}

.recommendation-form h3{
    color: #039eeb;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5vw;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.recommendation-form label{
    font-weight: 500;
    display: flex;
    align-items: baseline;
    /* flex-direction: column; */
    width: 48%;
    justify-content: space-between;
}

.recommendation-form input, select{
    padding: 0.5rem;
    width: 8vw;
    height: 3vw;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #039eeb
}

.recommendation-form button {
    background-color: #ff4757;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0.8vw;
}

.about-model, .how-it-works, .recommendation-form, .need-for-recommendation, .advantages-disadvantages {
    margin-bottom: 2rem;
}


.need-for-recommendation, .advantages-disadvantages {
    display: flex;
    align-items: center;
    padding: 1.5vw;
}

.image-container {
    /* flex: 1; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    /* margin-right: 2rem; */
}

.image-container img {
    max-width: 100%;
    width: 25vw;
    border-radius: 8px;
}

.content {
    width: 50%;
    padding-left: 1vw;
    /* flex: 2; */
}

footer {
    background-color: #22c55e;
    color: white;
    padding: 2rem;
    margin-top: 0 !important;
    height: 33vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
}

.footer-content {
    /* padding-top: 4vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section {
    flex: 1;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.copyright {
    text-align: center;
    /* margin-top: 2rem; */
}

@media (max-width: 768px) {
    .form-row, .need-for-recommendation, .advantages-disadvantages, .footer-content {
    flex-direction: column;
    }

    label {
    width: 100%;
    }

    .image-container {
    margin-right: 0;
    margin-bottom: 1rem;
    }
}