.table-container {
    margin: 20px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .table-container h1{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 2vh;
  }
  .custom-table {
    width: 60%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  .custom-table th,
  .custom-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  .custom-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
  }
  .custom-table tr:hover {
    background-color: #f5f5f5;
  }